body {
     font-family: Arial; 
     padding: 20px;
     background-color: rgb(9, 9, 61);
}
input, textarea { 
    width: 300px; 
    padding: 5px; 
    margin: 5px 0; 
}
button { 
    padding: 5px 10px; 
    cursor: pointer; 
}
table { 
    width: 80%; 
    margin-top: 20px; 
    border-collapse: collapse; 
}
th, td { 
    padding: 10px; 
    text-align: left; 
    color: antiquewhite;
}
h1,label,h2{
    color: antiquewhite;
}
button{
    color: black;
    background-color: greenyellow;
    align-items: center;
}
