img{
    height: 230px;
    width: 250px;
}
section{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-wrap: wrap wrap;
    justify-content: space-between;
    align-items: center;
}
div{
    height: 300px;
    width: 250px;
    border-style: double;
    padding-bottom: 20px;
    border-radius: 10px;
    border: 2px solid black;
}
h1{
    text-align: center;
}
button{
    height: 10px;
    width: 30px;
}